Repository python-qt-tools/PyQt6-stubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort (python)
        args: [ "--profile", "black", "-l 10000" ]
        files: ^PyQt6-stubs/

  - repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort (python)
        args: [ "--profile", "black", "-l 79" ]
        exclude: ^PyQt6-stubs/

  - repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
      - id: black
        args: [ --safe, --quiet, -l 10000 ]
        language_version: python3
        files: ^PyQt6-stubs/

  - repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
      - id: black
        args: [ --safe, --quiet, -l 79 ]
        language_version: python3
        exclude: ^PyQt6-stubs/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: requirements-txt-fixer
        exclude: ^tests

  -   repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.9.0
      hooks:
      - id: python-check-blanket-noqa

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        exclude: ^tests

  # flake8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args:
          - "--max-line-length=79"
          - "--max-complexity=18"
          # W503 (line break before binary operator) that's what black does.
          # E203 (whitespace before ':') that's what black does
          # E501 (line-length) don't need this for stubs.
          - "--ignore=W503,E203,E501"
        types: [ python ]
        exclude: ^tests

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: '.*\.py[i]?'
        args: [ "--warn-unused-ignores", "--warn-redundant-casts", "--warn-unused-configs", "--namespace-packages", "--explicit-package-bases", "--config-file", "mypy.ini" ]
        exclude: ^tests

Removed unneccessary fixes.
  PyQt6-stubs/QtWidgets.pyi
  fixes/annotation_fixes.py
  tests/qwidget.py
Due: pylint, mypy

Fixed regex to detect pyi files.
  .pre-commit-config.yaml
Due: none

Added stubs for uic
  PyQt6-stubs/uic/Compiler/__init__.pyi
  PyQt6-stubs/uic/Compiler/as_string.pyi
  PyQt6-stubs/uic/Compiler/compiler.pyi
  PyQt6-stubs/uic/Compiler/indenter.pyi
  PyQt6-stubs/uic/Compiler/misc.pyi
  PyQt6-stubs/uic/Compiler/proxy_metaclass.pyi
  PyQt6-stubs/uic/Compiler/qobjectcreator.pyi
  PyQt6-stubs/uic/Compiler/qtproxies.pyi
  PyQt6-stubs/uic/Loader/__init__.pyi
  PyQt6-stubs/uic/Loader/loader.pyi
  PyQt6-stubs/uic/Loader/qobjectcreator.pyi
  PyQt6-stubs/uic/__init__.pyi
  PyQt6-stubs/uic/compile_ui.pyi
  PyQt6-stubs/uic/enum_map.pyi
  PyQt6-stubs/uic/exceptions.pyi
  PyQt6-stubs/uic/icon_cache.pyi
  PyQt6-stubs/uic/load_ui.pyi
  PyQt6-stubs/uic/objcreator.pyi
  PyQt6-stubs/uic/properties.pyi
  PyQt6-stubs/uic/pyuic.pyi
  PyQt6-stubs/uic/ui_file.pyi
  PyQt6-stubs/uic/uiparser.pyi
  generate_upstream.py
Due: pylint, mypy

Fixed setup.py
  setup.py
Due: pylint, mypy

Added stubs generation for uic. (#5)
  PyQt6-stubs/uic/Compiler/__init__.pyi
  PyQt6-stubs/uic/Compiler/as_string.pyi
  PyQt6-stubs/uic/Compiler/compiler.pyi
  PyQt6-stubs/uic/Compiler/indenter.pyi
  PyQt6-stubs/uic/Compiler/misc.pyi
  PyQt6-stubs/uic/Compiler/proxy_metaclass.pyi
  PyQt6-stubs/uic/Compiler/qobjectcreator.pyi
  PyQt6-stubs/uic/Compiler/qtproxies.pyi
  PyQt6-stubs/uic/Loader/__init__.pyi
  PyQt6-stubs/uic/Loader/loader.pyi
  PyQt6-stubs/uic/Loader/qobjectcreator.pyi
  PyQt6-stubs/uic/__init__.pyi
  PyQt6-stubs/uic/compile_ui.pyi
  PyQt6-stubs/uic/enum_map.pyi
  PyQt6-stubs/uic/exceptions.pyi
  PyQt6-stubs/uic/icon_cache.pyi
  PyQt6-stubs/uic/load_ui.pyi
  PyQt6-stubs/uic/objcreator.pyi
  PyQt6-stubs/uic/properties.pyi
  PyQt6-stubs/uic/pyuic.pyi
  PyQt6-stubs/uic/ui_file.pyi
  PyQt6-stubs/uic/uiparser.pyi
  generate_upstream.py
  setup.py
Due: pylint, mypy

Fixes black in CI
  .pre-commit-config.yaml
Due: none

Updated pre-commit
  .pre-commit-config.yaml
Due: none

Support parsing annotations with dotted values
  fixes/annotation_fixer.py
Due: pylint, mypy

Update for PyQt 6.4.0
  version.py
Due: pylint, mypy

Update fixers for PyQt 6.4.0
  fixes/annotation_fixer.py
  fixes/mypy_visitor.py
Due: pylint, mypy

Allow multiple fixes for overrides
  fixes/annotation_fixer.py
Due: pylint, mypy

Add fixes for QByteArray parameters
  fixes/annotation_fixes.py
Due: pylint, mypy

Update for QtCore.QByteArray parameters
  PyQt6-stubs/QtCore.pyi
  PyQt6-stubs/QtGui.pyi
  PyQt6-stubs/QtNetwork.pyi
Due: mypy

Remove reference to `pip install PyQt6-stubs`
  README.md
Due: none

Add black to requirements
  requirements.txt
Due: none

Add wheel to requirements
  requirements.txt
Due: none

Ignore PyCharm project dir
  .gitignore
Due: none

Add click and use for arguments
  generate_upstream.py
  requirements.txt
Due: pylint, mypy

Use same base temp dir for easier debugging
  generate_upstream.py
Due: pylint, mypy

Improve subscript parsing
  fixes/annotation_fixer.py
Due: pylint, mypy

Stubs for PyQt 6.3.1
  PyQt6-stubs/QtBluetooth.pyi
  PyQt6-stubs/QtCore.pyi
  PyQt6-stubs/QtDBus.pyi
  PyQt6-stubs/QtDesigner.pyi
  PyQt6-stubs/QtGui.pyi
  PyQt6-stubs/QtHelp.pyi
  PyQt6-stubs/QtMultimedia.pyi
  PyQt6-stubs/QtMultimediaWidgets.pyi
  PyQt6-stubs/QtNetwork.pyi
  PyQt6-stubs/QtNfc.pyi
  PyQt6-stubs/QtOpenGL.pyi
  PyQt6-stubs/QtOpenGLWidgets.pyi
  PyQt6-stubs/QtPositioning.pyi
  PyQt6-stubs/QtPrintSupport.pyi
  PyQt6-stubs/QtQml.pyi
  PyQt6-stubs/QtQuick.pyi
  PyQt6-stubs/QtQuick3D.pyi
  PyQt6-stubs/QtQuickWidgets.pyi
  PyQt6-stubs/QtRemoteObjects.pyi
  PyQt6-stubs/QtSensors.pyi
  PyQt6-stubs/QtSerialPort.pyi
  PyQt6-stubs/QtSql.pyi
  PyQt6-stubs/QtSvg.pyi
  PyQt6-stubs/QtSvgWidgets.pyi
  PyQt6-stubs/QtTest.pyi
  PyQt6-stubs/QtWebChannel.pyi
  PyQt6-stubs/QtWebSockets.pyi
  PyQt6-stubs/QtWidgets.pyi
  PyQt6-stubs/QtXml.pyi
  PyQt6-stubs/sip.pyi
  PyQt6-stubs/uic/Compiler/qtproxies.pyi
  version.py
Due: pylint, mypy

Update mimeData() methods to allow returning None
  PyQt6-stubs/QtCore.pyi
  PyQt6-stubs/QtGui.pyi
  PyQt6-stubs/QtWidgets.pyi
  fixes/annotation_fixes.py
Due: pylint, mypy
